# ------------------------- #
# Don't Remove Credit 
# Ask Doubt @AU_Bot_Discussion 
# Owner @Mr_Mohammed_29 
# ------------------------- #


pyrogram==2.0.106
tgcrypto
motor
flask
ffmpeg-python
psutil
Pillow==10.4.0
aiohttp
gTTS
qrcode
imageio
requests
pytz
google-genai
reportlab

# ------------------------- #
# Don't Remove Credit 
# Owner @Mr_Mohammed_29 
# ------------------------- #